    .sub-heading{
        text-align: center;
        font-family: $font_base;
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .heading{
        text-align: center;
        font-family: $font_special;
        font-size: 3.125rem;
        font-weight: 700;
    }


    @media screen and (max-width:768px) {
        .sub-heading {
            font-size: 1rem;
        }
        .heading{
            font-size: 2rem;
        }
    }